__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
dist/
build/
coverage/
.pytest_cache/
.DS_Store

# backups
*.bak

# local branch export artifacts
/durinn-owasp2021-python-micro-suite_BRANCH_EXPORT/
/durinn-owasp2021-python-micro-suite_BRANCH_EXPORT.zip
